<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MarsRover</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="header">
        <div class="container-fluid"
            <nav class="navbar navbar-inverse">
                <ul class="nav navbar-nav">
                    <div class="logo-image">
                        <img src="~/img/SurrMooWhiteOnBlackLogo.png" class="img-fluid">
                    </div>
                    <!-- Add in your controller and action to make the link work -->
                    <li><a class="hoverable nav-link" aps-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a class="hoverable nav-link" aps-area="" asp-controller="" asp-action="">Mars Facts</a></li>
                    <li><a class="hoverable nav-link" aps-area="" asp-controller="Gallery" asp-action="Gallery">Gallery</a></li>
                    <li><a class="hoverable nav-link" aps-area="" asp-controller="" asp-action="">Rovers</a></li>
                    <li><a class="hoverable nav-link" aps-area="" asp-controller="" asp-action="">Mars Game</a></li>
                </ul>
                
            </nav>
</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - MarsRover - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
