<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MarsRover</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="container-fluid">
            <nav class="navbar navbar-inverse">
                    <ul class="nav navbar-nav">
                        <div class="logo-image">
                            <img src="~/img/SurMoo.jpg" class="img-fluid">
                        </div>

                        <li><a id="len1" class="hoverable" href="#">Home</a></li>
                        <li><a id="len2" class="hoverable" href="#">About</a></li>
                        <li><a id="len3" class="hoverable" href="#">Portfolio</a></li>
                        <li><a id="len4" class="hoverable" href="#">Contact</a></li>
                    </ul>
                
            </nav>
</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - MarsRover - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
