@{
    using (Html.BeginForm("Apod", "Apod", FormMethod.Post))
    {
        <div>
            @Html.TextBox("Date", "", new { placeholder = "Enter the Date to Search" })
        </div>
        <input type="submit" value="Submit" />
    }

}

<img src="@ViewBag.Url" alt="Astronomy Picture of the Day isn't available for this date. '" />