<!-- Google Roboto Fonts -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400|Roboto+Condensed:400|Fjalla+One:400'>
<!-- Font Awesome CSS -->
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>

@model ApodResponse

<h2>Astronomy Picture of the Day</h2>

<section>
    <div class="stretched" style="background-color: #000000; color: #FFFFFF; padding: 20px;">
        <button id="calendarButton">
            Calendar
        </button>
        @{
                using (Html.BeginForm("Gallery", "Gallery", FormMethod.Post, new { id = "dateForm", @class = "hidden"}))
                {
                    <div class="searchbar">
                        @Html.TextBox("Date", "", new {type = "date", id = "dateInput" })
                    </div>
                }
            }
        <img class="gallery-image" src="@Model.url" alt="Astronomy Picture of the Day isn't available for this date. '" />

<h1>Gallery</h1>

    <h1 class="fw-light text-center text-lg-start mt-4 mb-0">Gallery</h1>

    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-start">

        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://www.thisiscolossal.com/wp-content/uploads/2019/06/nasa-4-912x912@2x.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://www.thisiscolossal.com/wp-content/uploads/2019/06/nasa-1-960x480@2x.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://www.thisiscolossal.com/wp-content/uploads/2019/06/nasa-7-960x957@2x.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://www.thisiscolossal.com/wp-content/uploads/2019/06/mars.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://www.thisiscolossal.com/wp-content/uploads/2019/06/nasa-9-960x884@2x.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://www.thisiscolossal.com/wp-content/uploads/2019/06/nasa-10-960x811@2x.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://www.thisiscolossal.com/wp-content/uploads/2019/06/nasa-6-912x912@2x.jpg" alt="">
            </a>
        </div>
    </div>
</div>