@model ApodResponse

<h2 style="text-align:center; padding-top: 30px">Astronomy Picture of the Day</h2>

<section>
    <div class="gallery-background" style="background-color: #FFF; color: #FFFFFF; padding-top: 30px; border-radius: 5px;">
        <div class="image-row">

            <img class="gallery-image img-thumbnail" src="@Model.url" alt="Astronomy Picture of the Day isn't available for this date. '" />

            <div class="calendar-wrapper">

                @{
                    using (Html.BeginForm("Gallery", "Gallery", FormMethod.Post, new { id = "dateForm" }))
                    {

                        @Html.TextBox("Date", "", new { type = "date", id = "dateInput" })

                    }
                }
            </div>


        </div>

    </div>

    <label class="gallery-image apod-desc" style="background-color: #f6d141; color: rgba(0, 0, 0, 0.6); margin-top: 20px;">
        @Model.explanation
    </label>
   

</section>

<h1 class="fw-light text-center text-lg-start mt-4 mb-0" style="padding-bottom: 30px;">Gallery</h1>

@*<hr class="mt-2 mb-5">*@

<div class="row text-center text-lg-start" style="padding-left: 30px; padding-right: 30px;">

    <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://www.thisiscolossal.com/wp-content/uploads/2019/06/nasa-4-912x912@2x.jpg" alt="">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://www.thisiscolossal.com/wp-content/uploads/2019/06/nasa-1-960x480@2x.jpg" alt="">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://www.thisiscolossal.com/wp-content/uploads/2019/06/nasa-7-960x957@2x.jpg" alt="">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://www.thisiscolossal.com/wp-content/uploads/2019/06/mars.jpg" alt="">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://www.thisiscolossal.com/wp-content/uploads/2019/06/nasa-9-960x884@2x.jpg" alt="">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://www.thisiscolossal.com/wp-content/uploads/2019/06/nasa-10-960x811@2x.jpg" alt="">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://www.thisiscolossal.com/wp-content/uploads/2019/06/nasa-6-912x912@2x.jpg" alt="">
        </a>
    </div>
</div>
    

