@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    15 minutes that way<br />
    Turn right<br />
    Go on for 10 more mins<br />
    If you pass the girl in the white dress then you've gone too far<br />
    Turn right<br />
    You're there<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">You aint getting support son</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">I have pallets for sale</a>
</address>