

@{
    ViewData["Title"] = "Home Page";
}




<div class="container-fluid">
<div class="container">
    <div class="hero-image">
        <div class="hero-text">
            <h1 style="font-size: 50px">Mars Rover</h1>
            <p>I am a mars rover</p>
            <button>Get Date Time</button>
        </div>
    </div>
</div>
</div>

<div class="dateTimeGetter">

</div>
