@{
    ViewData["Title"] = "Home Page";
}
<div role="banner" class="background-img banner">
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="rover-item">
        <div rover="rover-video">
            <picture class="stretch-container">
                <img alt="Mars Rover image" src="img/marsRover.jpg">
            </picture>
        </div>
    </div>

    <div class="rover-flex-container banner-content">
        <div class="rover-text">
            <h1 class="rover-heading-text">Mars Rover Information</h1>
            <h2 class="rover-subheading-text">Embark on a Journey of Discovery</h2>
        </div>
    </div>
    </div>