<div id="score">0</div>
<div>
    <canvas id="roverboard" width="400" height="400"></canvas>
</div>
<div>
<button class="startGame" id="buttonRoverGame">Start Game</button>
</div>
<style>
    #roverboard {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #score {
        text-align: center;
        font-size: 140px;
    }

    .startGame {
        background: black;
        color: white;
        align-content: center;
    }
</style>