<div id="score">0</div>
<div class="game-container">
    <canvas id="roverboard" width="640" height="480"></canvas>
    <canvas id="gameMenu" width="480" height="320"></canvas>
</div>
<style>
    .game-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>