<div id="score">0</div>
<div class="game-container">
    <canvas id="roverboard" width="640" height="480"></canvas>
</div>
<div>
    <button class="startGame" id="buttonRoverGame">Start Game</button>
</div>
<style>
    .game-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #score {
        text-align: center;
        font-size: 100px;
    }
    .startGame {
        background: black;
        color: white;
        align-content: center;
    }
</style>